body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: rgb(10, 3, 32);
}
.logo{
    width: 10px;
    height: 10px;
    background-image: image("../images/logo.png");
}

.login-div {
    margin-left: 38%;
    margin-right: 35%;
    max-width: 430px;
    padding: 35px;
    border: 1px solid rgb(143, 141, 141);
    border-radius: 8px;
    background-color: rgb(183, 236, 236);
}
.btn {
    display: flex;
}
.red {
    float: right;
}
.google:hover {
    background-color: greenyellow;
    color: black;
}

@media screen and (max-width: 900px) {
	.login-div {
      margin-right: 55px;
      margin-left: 50px;
	  width: 330px;
	  margin-left: 20%;
    }
    .btn {
        display: block;
        float: none;
        width: 75px;
    }
    .red {
        float: none;
        width: 80px;
    }
  }